services:
  db:
    image: postgres:13.0-alpine
    volumes:
      - db-data:/var/lib/postgresql/data
    expose:
      - 5432
    env_file:
      - ./.env

  django:
    build: .
    command: sh -c "python manage.py migrate && gunicorn business_journal_web.wsgi:application --bind 0.0.0.0:8000"
    expose:
      - 8000
    env_file:
      - ./.env
    depends_on:
      - db
    volumes:
      - static-data:/app/static
  
  nginx:
    image: nginx:1.29
    ports:
      - "9110:9110"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - static-data:/app/static
    depends_on:
      - django

volumes:
  db-data:
  static-data: